.textoParagrafo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.sobrescrito {
    text-decoration: underline overline;
}

.riscado {
    text-decoration: line-through;
}

#tituloPrincipal {
    color: blue;
}

.negrito{
    font-weight: 400;
}

.italico{
    font-style: italic;
}